@import "../../../styles-variables";

.main-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  .container {
    padding: 40px 0 0 35px;
    border-radius: 16px 16px 0 0;
    flex: 1;
    background: $background-color;
    .main-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 48px;
      h2 {
        color: $white;
      }
      .btn-box {
        display: flex;
        align-items: center;
        gap: 10px;
        // .btn {
        //   width: 32px;
        //   height: 32px;
        //   border-radius: 50%;
        //   display: flex;
        //   align-items: center;
        //   justify-content: center;
        //   background-color: $primary-color;
        //   color: $white;
        //   cursor: pointer;
        //   &:hover {
        //     background-color: darken($primary-color, 10%);
        //   }
        // }
      }
    }
  }
}
